nav {
  height: 50px;
  line-height: 35px;
  display: flex;
  justify-content: center;
}

.nav-wrapper {
  background-color: #797474 !important;
  font-size: 14px;
  font-weight: bold;
  border: solid #000000;
}

.nav-wrapper a{
  background-color: #fdf907 !important;
  font-size: 14px;
  font-weight: bold;
  color:#000000;
  margin-top: 5px;
  margin-left: 5px;
}

.my-header{
  background-color: #fdf907 !important;
}

.my-title-line {
  font-size: 30px;
  font-weight: bold;
  color:#000000;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}

.my-logo-cost {
  height: 54px;
  margin: 0px;
  padding: 0px;
}
.my-logo-concrete {
  height: 54px;
  margin: 0px;
  padding: 0px;
}

.lnk-show {
  font-weight: bold;
  color:#000000;
  display: flex;
  justify-content:center;
}

