<div class="container">
  <p class="form-title">Cadastro de Obra</p>
  <div class="mycont">
    <div class="row">
      <form #form="ngForm" (submit)="onSubmit()">
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <p></p>
            <span>Identificador</span>
            <input
              id="input-identificador"
              name="input-identificador"
              type="text"
              class="validate grey lighten-4"
              [(ngModel)]="this.obra.identificador"
              pattern="^[A-Z0-9][a-zA-Z0-9]*(?:\s+[A-Z0-9][a-zA-Z0-9]*)*$"
              #identificador="ngModel"
              required
            />
            <div
              class="red-text"
              [hidden]="identificador.valid || identificador.untouched"
            >
              Identificador Inválido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12">
            <span class="">Endereço</span>
            <input
              name="input-endereco"
              type="text"
              class="validate grey lighten-4"
              [(ngModel)]="this.obra.endereco"
              pattern="^[A-Z0-9][a-zA-Z0-9]*(?:\s+[A-Z0-9][a-zA-Z0-9]*)*$"
              #endereco="ngModel"
              required
            />
            <div
              class="red-text"
              [hidden]="endereco.valid || endereco.untouched"
            >
              Endereço Inválido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4 m4 l4">
            Área em M²
            <input
              name="input-area"
              type="text"
              class="validate grey lighten-4"
              [(ngModel)]="this.obra.area"
              pattern="^(?!^(0{1,3}\.?)+(,00)?$)(\d{1,3}\.?)+(,\d\d?)?"
              #area="ngModel"
              required
            />
            <div class="red-text" [hidden]="area.valid || area.untouched">
              Área Inválida
            </div>
          </div>
          <div class="input-field col s4 m4 l4">
            Categoria
            <div class="input-field validate">
              <select
                name="categoria"
                [(ngModel)]="this.obra.categoria"
                class="browser-default  grey lighten-4"
                #categoria="ngModel"
                pattern="^[^\s].*"
                required
              >
                <option value=" " disabled>Selecione</option>
                <option value="r">Residencial</option>
                <option value="c">Comercial</option>
              </select>
              <div
                class="red-text"
                [hidden]="categoria.valid || categoria.untouched"
              >
                Selecione a Categoria
              </div>
            </div>
          </div>
          <div class="input-field col s4 m4 l4">
            Método

            <select
              name="metodo"
              [(ngModel)]="this.obra.metodo"
              class="browser-default grey lighten-4"
              #metodo="ngModel"
              pattern="^[^\s].*"
              required
            >
              <option value=" " disabled>Selecione</option>
              <option value="a">Alvenaria</option>
              <option value="b">Bloco</option>
              <option value="p">Pré Moldado</option>
              <option value="m">Madeira</option>
            </select>
            <div class="red-text" [hidden]="metodo.valid || metodo.untouched">
              Selecione o Método
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">Opções de Teto</div>
          <br />
          <div class="row center mycheck">
            <ul>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="chk_teto_laje"
                    [(ngModel)]="this.obra.tipo_teto_laje"
                  />
                  <span class="black-text">Laje</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="chk_teto_forro_pvc"
                    [(ngModel)]="this.obra.tipo_teto_forro_pvc"
                  />
                  <span class="black-text">Forro PVC</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="chk_teto_forro_gesso"
                    [(ngModel)]="this.obra.tipo_teto_forro_gesso"
                  />
                  <span class="black-text">Forro Gesso</span>
                </label>
              </li>
              <br /><br />
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="chk_teto_forro_drywall"
                    [(ngModel)]="this.obra.tipo_teto_forro_drywall"
                  />
                  <span class="black-text">Forro Drywall</span>
                </label>
              </li>
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="chk_teto_forro_madeira"
                    [(ngModel)]="this.obra.tipo_teto_forro_madeira"
                  />
                  <span class="black-text">Forro Madeira</span>
                </label>
              </li>
            </ul>
          </div>
        </div>
        <div class="row center">
          <div class="input-field col s6 m6 l6">
            <button
              class="btn waves-effect waves-light yellow black-text"
              type="submit"
              name="action"
              [disabled]="!form.valid"
            >
              Salvar
            </button>
          </div>
          <div class="input-field col s6 m6 l6">
            <a
              class="btn waves-effect waves-light yellow black-text"
              [routerLink]="['/cadastro-obra']"
            >
              Cancelar
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
